.Home {
    padding-top: 50px;
}

.Home-title {
   font-size: 30px;
   font-weight: 700 bold;
   text-align: center;
}

.Home-description {
    font-size: 17px;
    padding: 20px;
    text-align: center;
    line-height:30px;
}

.Home__image-bike {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.Home__link_toReportTheft {
    border: 1px solid black;
    padding: 2px;
    color: black;
    display: inline-block;
}

.Home__link_toReportTheft:hover {
    background-color:lightslategrey;
}